#readymade
  .readymade-subject-viewer
    background: rgba(black, 1)

  .marking-surface-tool-controls
    max-width: 300px
    min-width: 25px // This just makes a little space for "something weird" marks.
    text-align: center

    .decision-tree-choice
      display: inline-block
      width: 80px
