#readymade
  .readymade-subject-viewer
    background: black

    .loading-spinner
      display: none
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)

    &[data-loading] .loading-spinner
        display: block

  .first-view-notification
    background: rgba(lime, 0.4)
    border-top: 1px solid rgba(gray, 0.5)
    text-align: center

  .marking-surface-tool-controls
    max-width: 300px
    min-width: 25px // This just makes a little space for "something weird" marks.
    text-align: center

    .decision-tree-choice
      display: inline-block
      width: 80px

  [name="decision-tree-go-back"]
    visibility: hidden

  .faq-link
    font-size: smaller
    font-weight: bold
    text-align: center

  .video-embed
    display: block
    margin: 0 auto

  figure
    margin: 0
    text-align: center

    figcaption
      font-size: 0.8em
      font-weight: bold

  .sub-pages
    text-align: center

  .readymade-field-guide img
    max-width: 100%

  .readymade-mini-tutorial-image[src=""]
    display: none

#nav-tab-2,
#top-bar
  display: none

.drawing-controls > label:first-of-type
  display: none
  
.readymade-share
  background: #fff !important
  color: #222 !important

.readymade-share:hover
  background: inherit !important
  color: inherit !important
